*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkcyan;
}
main{
    width: 40rem;
    margin:10rem auto;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container{
    width: 40rem;
}
input{
    width: 30.6rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid darkcyan;
}
.click{
    padding: 1rem;
    width: 9rem;
    border-radius: 10px;
    background-color: rgb(164, 250, 250);
    cursor: pointer;
    border: none;
}
.click:hover{
     box-shadow: 1px 1px 10px 1px rgb(172, 234, 228);
}

.result{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
.linkler{
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    padding: 1rem;
    font-size: 1.2rem;
}


.right_link a{
text-decoration: none;
color: rgb(2, 93, 93);
}
.right_link a:hover{
text-decoration: underline;
color: rgba(2, 93, 93, 0.812);
}

.copy_link{
    width: 6rem;
    padding: 0.8rem;
    background-color: rgb(83, 156, 165);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.copy_link:hover{
  box-shadow: 1px 1px 7px 1px rgb(1, 81, 73);
}

@media screen and (max-width:640px) {
main{
    width: 30rem;
}
h1{
    font-size: 2.5rem;
}

.container{
    width: 30rem;
    display: flex;
    align-items: center;
}
input{
    width: 24.8rem;
}
.click{
    padding: 0.5rem;
    width: 5rem;
}
.linkler{
    width: 30rem;
    padding: 0.8rem;
}
    
}